.startContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  background-color: black
}

.startContent {
  max-width: 500px;
  min-height: 550px;
}

.startActionContainer {
  margin-top: 42px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.orSeparator {
  color: white;
  margin: 1rem 0;
  font-weight: 600;
}

.authFormContainer {
  background: black;
  border: 1px solid rgb(51, 51, 51);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  position: relative;
  width: 400px;
  min-height: 572px;
}

.authFormTitle {
  font-size: 1.5rem;
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.authInputGroup {
  margin-bottom: 1rem;
}

.authInputGroup>input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid transparent;
}

.authInputGroup>input:focus {
  outline: 4px solid var(--theme-color);
}

.authFormHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: white;
  font-size: 12px;
}

.credentialsForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: #007bff;
  background-color: black;
  border: 1px solid rgb(51, 51, 51);
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform, box-shadow;
  font-weight: 600;
  height: 40px;
}

.backButton:hover {
  background-color: rgb(26, 155, 240, 0.1);
}

.createLoginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #007bff;
  background-color: black;
  border: 1px solid rgb(51, 51, 51);
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform, box-shadow;
  font-weight: 600;
}

.createLoginButton:hover {
  background-color: rgb(26, 155, 240, 0.1);
}

.firstCreateLoginButton {
  background-color: #007bff;
  color: white;
  border: none;
  margin-bottom: 40px;
}

.firstCreateLoginButton:hover {
  background-color: #0056b3;
}

.authButtonBottom {
  margin-top: 60px;
  height: 40px;
}

.authCloseButton {
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.authCloseButton:hover {
  background: #333;
}

.signupError {
  color: #ff0000;
  margin-bottom: 1rem;
}

.emptyErrorPlaceholder {
  visibility: hidden;
  min-height: 18px;
}

.googleLoginButton {
  display: flex;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.aboutLink {
  font-size: 14px;
  color: #636363;
  text-decoration: none;
  margin-right: 10px;
}

.aboutLink:hover {
  text-decoration: underline;
}